// Specific CSS for your home-page

.container {
width: 800px;
}

.card-trip {
  transition: 0.2s ease;
  color: #023e8a;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip:hover{
  transform: scale(1.1);
  transition: 0.2s ease;
  opacity: 0.95;
  color: rgba(58, 56, 58, 0.8);
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #023e8a;
  display: flex;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: #023e8a;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -40px;
  width: 65px;
}

.card-trip-pricing{
  position: absolute;
  right: 16px;
}

a{
  text-decoration: none;
  text-decoration-color: none;
}
