#space-under-elements {
  margin-bottom: 100px;
  margin-top: 50px;
}

.element {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid #023e8a;
}

#title-my-aircraft {
  color: aliceblue;
}

.confirmed {
  h4 {
    position: absolute;
    top: 197.5px;
  }
}
