
.container {
  width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #6c757d;
}

.splash{
  background-image: radial-gradient(circle, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.10) 100%), url(https://images.unsplash.com/photo-1621331805847-bb27233e4ae1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

.new-form {
  border-radius: 20%;
  display: flex;
  justify-content: center;
}

.form-label{
  display: flex;
  color: rgba(255,255,255,0.7);
}

.form-select {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #e8e8e4;
  background: rgb(0,234,255);
  background: linear-gradient(180deg, rgba(0,234,255,0.20073967086834732) 0%, rgba(8,227,255,0.4) 100%);
  &:hover {
    border-color: #03045e;;
  }
}

h2{
  color: rgba(255,255,255,0.8);
  font-family: Helvetica;
  display: inline-block;
}

.btn {
  border-color: #e8e8e4;
  border-radius: 10px;
  background: rgb(0,234,255);
  background: linear-gradient(180deg, rgba(0,234,255,0.20073967086834732) 0%, rgba(8,227,255,0.4) 100%);
  color: rgba(255,255,255,0.7);
  &:hover {
    color: #03045e;
  }
}

.form-control{
  border-radius: 10px;
  border-color: #e8e8e4;
  color: rgba(255,255,255,0.7);
  background: rgb(0,234,255);
  background: linear-gradient(180deg, rgba(0,234,255,0.20073967086834732) 0%, rgba(8,227,255,0.4) 100%);
  &:hover {
    border-color: #03045e;;
    color: #03045e;
  }
}
