<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/adromel/rails-airbnplane" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/dassaultaviation/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/dgac" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/showcase/lewagonparis/?originalSubdomain=fr" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This app was made with <i class="fas fa-heart"></i> at Le Wagon Lyon
  </div>
</div>
