.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-brand {
  display: inline;
}

.navbar i {
  color: aliceblue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: #0D6EFD;
  padding: 0;
  color: white;
  height: 90px;
}

.nav-link {
  color: aliceblue;
  padding: 10px;
  background-color: #005eec;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
  width: 200px;
  text-align: center;
  &:hover {
    color: #0D6EFD;
  }
}

.avatar {
  margin-top: 5px;
}

.identifiant {
  padding: 10px;
  background-color: #005eec;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
  width: 300px;
  text-align: center;
  p {
    margin: 0;
  }
}

.dropdown-menu {
  background-color: #0280fe;
  border-radius: 8px;
  color: gray;
  &hover {
    background-color: #228efa;
  }
  .dropdown-item {
    color: aliceblue;
    border-radius: 8px;
  }
}

.dropdown-menu .dropdown-item:hover {
  color: gray;
  border-radius: 8px;
  transition: 0.2s ease;
}
